*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 1050px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

.gradient-dark-purple {
    background: rgba(3,30,58,1);
    background: -moz-linear-gradient(top, rgba(3,30,58,1) 0%, rgba(42,3,58,1) 100%);
    background: -webkit-linear-gradient(top, rgba(3,30,58,1) 0%, rgba(42,3,58,1) 100%);
    background: linear-gradient(to bottom, rgba(3,30,58,1) 0%, rgba(42,3,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031E3A', endColorstr='#2A033A', GradientType=0);
}

.shadow {
    -webkit-box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    text-decoration: none;
}

/*----HEADER----*/

.header {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header .logo {
    flex-shrink: 1;
    flex-grow: 0;
}

.header .logo a {
    display: block;
}

.header .logo img {
    height: 93px;
    transition: 1s;
}

.header.header-dark {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: 1s;
}

.header.header-dark .logo img {
    height: 50px;
}

@media (max-width: 767px) {
    .header .logo img {
        height: 50px;
    }

    .header.header-dark.gradient-dark-purple {
        background: rgba(3,30,58,0.8);
        background: -moz-linear-gradient(top, rgba(3,30,58,0.8) 0%, rgba(42,3,58,0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(3,30,58,0.8) 0%, rgba(42,3,58,0.8) 100%);
        background: linear-gradient(to bottom, rgba(3,30,58,0.8) 0%, rgba(42,3,58,0.8) 100%);
    }
}

.menu-toggle {
    display: none;
    text-decoration: none;
    position: absolute;
    z-index: 100;
    right: 15px;
    top: 25px;
    font-size: 30px;
    color: #FFFFFF;
    transition: .5s;
}

.menu-toggle:hover,
.menu-toggle:active {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-toggle:active {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    list-style: none;
    flex-grow: 1;
    flex-shrink: 0;
    padding-bottom: 14px;
}

.header.header-dark .menu {
    padding-bottom: 8px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 18px 25px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 0;
    position: relative;
    transition: .5s;
}

.menu li a:after {
    content: "";
    display: inline-block;
    height: 3px;
    margin-left: -15%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-radius: 100px;
}

.menu li a:hover:after {
    width: 30%;
    animation: scaleHorizontal .5s;
}

.menu li a:hover,
.menu li a:hover:after {
    opacity: 0.4;
}

@media (max-width: 767px) {
    .menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .menu li {
        margin-bottom: 40px;
        width: 100%;
    }
    .menu li:last-child {
        margin-bottom: 0px;
    }
    .menu li a {
        text-align: center;
        padding: 15px;
    }
    .menu li a:after,
    .menu li a:hover:after {
        opacity: 0.4;
        width: 90%;
        margin-left: -45%;
    }
}

.wrapper {
    position: relative;
    z-index: 0;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper-space-top {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .cd-section {
        height: auto !important;
    }

    .wrapper {
        padding-bottom: 50px;
    }

    .wrapper-space-top {
        padding-top: 50px;
    }
}

/*----HOME----*/

.wrapper-home {
    padding-top: 145px;
}

@media (max-width: 767px) {
    .wrapper-home {
        padding-top: 65px;
    }
}

.wrapper-home .content {
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .wrapper-home .content {
        align-items: center;
    }
}

.wrapper-home .image {
    position: relative;
    margin-left: -110px;
}

.wrapper-home .image img {
    position: relative;
    z-index: 1;
    animation: moveUpDown 1s infinite alternate;
}

.wrapper-home .image:before {
    content: "";
    display: block;
    width: 1100px;
    height: 1100px;
    position: absolute;
    margin-top: -550px;
    top: 50%;
    right: 0;
    z-index: 0;
    background: url(./../img/circle.png) no-repeat center;
    background-size: contain;
}

@media (max-width: 767px) {
    .wrapper-home .image {
        display: none;
    }
}

.wrapper-home .content-text {
    width: 480px;
    margin-top: -190px;
}

@media (max-width: 767px) {
    .wrapper-home .content-text {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
}

.wrapper-home .title,
.wrapper-home .text {
    color: #FFFFFF;
    margin: 0px 0px 40px 0px;
}

.wrapper-home .title,
.wrapper-home .text,
.wrapper-home .btn {
    font-weight: lighter;
    font-size: 24px;
}

.wrapper-home .btn {
    border-radius: 100px;
    background-color: #E6DC45;
    color: #031E3A;
    padding: 8px 40px;
    opacity: 1;
    transition: .5s;
}

.wrapper-home .btn:active {
    background-color: rgb(160, 151, 22);
}

.wrapper-home .btn:hover {
    opacity: 0.6;
}

/*----ABOUT----*/

.wrapper-about {
    background: url(../img/about.png) no-repeat right center, url(../img/about_bg.png) center center;
    background-color: #FFFFFF;
}

.features {
    list-style: none;
    margin: 0px;
    padding: 0px;
    clear: both;
    max-width: 55%;
}

.features li {
    color: #848484;
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.features li:last-child {
    margin-bottom: 0px;
}

.features li i {
    color: #E6DC45;
    display: block;
    float: left;
    font-size: 40px;
    margin-right: 22px;
}

.content-text {
    color: #848484;
    font-size: 20px;
    line-height: 28px;
    font-weight: lighter;
}

@media (max-width: 767px) {
    .wrapper-about {
        background: url(../img/about_bg.png) center center;
        background-color: #FFFFFF;
    }

    .features {
        max-width: 100%;
    }
}

/*----PRICES----*/

.wrapper-prices {
    background: url(../img/prices_bg.png) no-repeat center 110px;
    background-color: #FFFFFF;
}

.price-box {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
}

.price-box .text, .price-box .plan, .price-box .list li {
    color: #848484;
    font-weight: lighter;
    margin: 0px;
}

.price-box .text, .price-box .plan {
    font-size: 16px;
    text-align: center;
}

.price-box .text {
    padding-top: 40px;
    padding-bottom: 40px;
}

.price-box .price {
    color: #031E3A;
    font-size: 60px;
    margin: 0px;
    line-height: 1;
}

.price-box .price .currency {
    font-size: 35px;
    display: inline;
}

.price-box .list {
    list-style: none;
    padding: 20px 0px 20px 0px;
    margin: 40px 0px 0px;
    border-top: 1px solid #DDDDDD;
    width: 100%;
}

.price-box .list li {
    padding: 5px 20px;
    text-align: center;
}

@media (max-width: 767px) {
    .wrapper-prices {
        background: url(../img/prices_bg.png) no-repeat bottom left;
        background-size: cover;
    }

    .wrapper-prices .content-text {
        margin-bottom: 30px;
        text-align: center;
    }

    .price-box .text {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .price-box .price {
        font-size: 35px;
    }
    
    .price-box .price .currency {
        font-size: 20px;
    }

    .price-box .list {
        padding: 15px 0px 15px 0px;
        margin: 15px 0px 0px;
    }
}


/*----COMMENTS----*/

.wrapper-comments {
    background-color: #F5F5F5;
}

.comments {
    list-style: none;
    padding: 0px;
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

.comments:before, .comments:after  {
    background-image: url(../img/comments_bg.png);
    background-repeat: no-repeat;
    content: "";
    display: block;
    width: 140px;
    height: 120px;
    position: absolute;
    z-index: 0;
}

.comments:before {
    top: -60px;
    left: -140px;
}

.comments:after {
    bottom: -20px;
    right: -130px;
    transform: rotate(180deg) scale(1.4);
}

.comments li {
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
    margin: 15px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 47.333333%;
}

.comments li .top {
    display: flex;
    align-items: center;
}

.comments li .top .avatar {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: silver;
    margin-right: 20px;
}

.comments li .top .text .name, .comments li .top .text .role {
    font-weight: lighter;margin: 0px;
}

.comments li .top .text .name {
    font-size: 20px;
    color: #404040;
    
}

.comments li .top .text .role {
    color: #848484;
    font-size: 16px;
}

.comments li .body {
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
    color: #707070;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.comments li .body p {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 767px) {
    .comments {
        margin: 0px;
    }

    .comments li {
        padding: 15px;
        max-width: 100%;
    }

    .comments li .top .avatar {
        width: 50px;
        height: 50px;
    }
}

/*----DOWNLOADS----*/

.wrapper-download .content-text .title, .wrapper-download .content-text .text{
    margin: 0px;
    padding: 0px;
    color: #FFF;
}

.wrapper-download .content-text .title {
    font-size: 45px;
    margin-bottom: 35px;
}

.wrapper-download .content-text .text {
    font-size: 20px;
    font-weight: lighter
}

.wrapper-download .btns {
    list-style: none;
    padding: 0px;
    margin: 80px 0px 0px;
}

.wrapper-download .btns li {
    display: inline-block;
}

.wrapper-download .btns li:first-child {
    margin-right: 20px;
}

.wrapper-download .btns li a {
    display: block;
}

.wrapper-download .img {
    margin-bottom: -300px;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .wrapper-download .content-text {
        text-align: center;
    }

    .wrapper-download .btns {
        margin-top: 40px;
    }

    .wrapper-download .btns li:first-child {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .wrapper-download .img {
        display: none;
    }
}

/*----CONTACT----*/

.wrapper-contact {
    background-color: #FFF;
}

.wrapper-contact .content-text {
    text-align: center;
}

.wrapper-contact .content-text .text {
    margin: 80px 0px 0px;
    padding: 0px;
    color: #848484;
    font-size: 30px;
    font-weight: lighter
}

.wrapper-contact .content-text .text p {
    margin-bottom: 45px;
}

@media (max-width: 767px) {
    .wrapper-contact .content-text img {
        max-width: 200px;
    }
}

.headering {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    color: #031E3A;
    margin-bottom: 70px;
    width: 100%;
    display: block;
}

.headering:before {
    content: "";
    display: block;
    background-color: #E6DC45;
    height: 8px;
    width: 60px;
    margin-bottom: 15px;
    border-radius: 100px;
}

.headering.headering-center {
    text-align: center;
}

.headering.headering-center:before {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .headering {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .headering:before {
        margin-left: auto;
        margin-right: auto;
    }
}

